player-connection-mode=Listen
player-connection-guid=2914469957
player-connection-debug=0
player-connection-project-name=Night at the XR Museum
player-connection-ip=10.184.42.17
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=OculusXRPlugin
xr-meta-enabled=1
xr-vulkan-extension-fragment-density-map-enabled=1
build-guid=27a5915f229b47b09890d345e029c955
